html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
	display: flex;
	/* height: 100%; */
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 7.5%;
	background-color: rgb(240, 240, 240);
	overflow-y: scroll;
	overflow-x: hidden;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: red; */
	/* background-color: red; */
}

.img-div{
	/* background-color: rgb(48, 48, 48); */
	width: 50%;
	/* height: 100%; */
	/* border-radius: 5px; */
	/* padding: 50px; */
	/* margin: 0 100px; */
	display: flex;
	justify-content:  center;
	/* -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px; */
}

.img-div img {
	width: 225px;
}

.main-content{
	display: flex;
	flex-direction: column;
	gap: 25px
}

.main-content h1 {
	color: rgb(48, 48, 48);
	margin: 0;
	font-size: 40px;
}

.slogan {
	text-align: left;
	font-size: 15px;
	color: rgb(48, 48, 48);
}

.content-text{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.buttons{
	display: flex;
	gap: 10px
}

.button {
	color: rgb(48, 48, 48);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	background-color: #ffe4c4;
	box-shadow: 0px 2.5px 2.5px 0px rgba(182, 163, 139, .375);
	padding: 10px 20px;
	display: flex;
	gap: 5px;
	align-items: center;
	text-decoration: none;
	position: relative;
	top: 0px;
	transition: top .2s ease-in-out;
	-webkit-transition: top .2s ease-in-out;
	-moz-transition: top .2s ease-in-out;
	-ms-transition: top .2s ease-in-out;
	-o-transition: top .2s ease-in-out;
}

.button:hover {
	top: 5px;
}

footer {
	display: flex;
	gap: 10px;
	/* background-color: green; */
}

.card{
	min-width: 250px;
	width: 25%;
}

.card-container{
	color: rgb(48, 48, 48);
	background-color: #F6F6F6;
	box-shadow: 0px 2.5px 2.5px 0px rgb(48, 48, 48, .25);
	padding: 25px 25px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	/* height: 100%; */
	height: 100%;
}

.card-container h1{
	margin: 0;
	font-size: 22.5px;
	line-height: 27.5px;
}

.card-container p{
	line-height: 20px;
}

.card-container h1 a{
	color: #3A4EFF;
}

@media screen and (max-width: 1024px){
	.hero{
		justify-content: center;
		gap: 7.5%;
	}

	footer {
		flex-wrap: wrap;
		gap: 0
	}

	.card{
		width: 50%;
	}

	.card-container{
		margin: 5px;
		height: auto;
	}
}

@media screen and (max-width: 768px){
	.hero{
		gap: 25px;
		justify-content: start;
		padding: 25px 25px;
	}

	main{
		justify-content: center;
		/* background-color: greenyellow; */
		padding: 0;
	}

	.main-content{
		width:100%;
	}

	.main-content h1 {
		font-size: 50px;
		text-align: center;
	}

	.slogan{
		text-align: center;
		font-size: 25px;
	}

	.buttons{
		width: 100%;
		justify-content: space-evenly;
		/* background: red; */
		/* align-items: center; */
	}

	.button{
		font-size: 20px;
		/* width: 100%; */
	}

	.img-div {
		display: none
	}

	footer{
		flex-direction: column;
		justify-content: center;
		/* width: 100vw; */
		/* background-color: red; */
		/* padding: 25px 25px; */
		gap: 20px;
		flex-wrap: nowrap;
		padding-bottom: 25px;
	}
	.card{
		width: 100%;
	}
	.card-container{
		margin: 0;
	}
}

@media screen and (max-width: 640px){
	.buttons{
		flex-direction: column;
	}
	.button{
		justify-content: center;
	}
	.main-content h1 {
		font-size: 40px;
		text-align: center;
	}
}