@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&display=swap');

html {
	font-family: 'Noto Sans', system-ui;
    scroll-behavior: smooth;
}

header{
	position: absolute;
	top: 0;
	width: 100%;

	color: #ddd;
	font-weight: 500;
	font-size: 17.25px;
	
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	gap: 25px;
	
	padding: 15px 50px 15px 0;
	
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, rgb(0, 0, 0, .1), transparent);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, rgb(0, 0, 0, .1), transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header a{
	position: relative;
	cursor: pointer;
}

header a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    bottom: 0;
    left: 0;
	background: #ddd;
    transition: width 1s;
	border-radius: 5px;
}

header a:hover::before {
    width: 99%;
}

.bg-image{
	background-image: url('../img/bg.jpg');
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.download {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 95%;
	gap: 200px;
	
	
	
	background: #FEAC5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgb(75, 192, 200, .75), rgb(199, 121, 208, .75)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 800% 800%;

    -webkit-animation: bg-animation 25s ease infinite;
    -moz-animation: bg-animation 25s ease infinite;
    -o-animation: bg-animation 25s ease infinite;
    animation: bg-animation 25s ease infinite;
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
}

.logo {
	height: 212.5px;
}

.download-button-flex{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.download-button {
	padding: 10px 15px 10px 15px;
	border-radius: 2.5px;
	
	text-decoration: none;
	font-size: 30px;
	font-weight: 800;
	text-align: center;
	
	position: relative;
	mix-blend-mode: screen;
	background: #fff;
}

.download-button:hover {
	animation: shake 1s infinite;
}

@keyframes shake {
  0% {left: 0}
  10% {left: -3px}
  20% {left: 5px}
  30% {left: -5px}
  40% {left: 5px}
  50% {left: -5px}
  60% {left: 3px}
  100% {left: 0}
}

span {
	z-index: 2;
	position: relative;
	transition: color 1s;
}

.slogan {
	color: #ddd;
	font-size: 17.5px;
}

.wave{
	position: absolute;
	width: 100%;
	bottom: 0;
}

@media screen and (max-width: 500px){

}